{% extends "base.html" %}
{% block title %}Places{% endblock %}

{% block content %}

<h1>Toronto Food Places</h1>

{% if places %}
    {% for place in places %}
        <div class="place-card">

            {% if place.image %}
                <img src="{{ place.image.url }}" alt="{{ place.name }}">
            {% endif %}

            <div>
                <h2>{{ place.name }}</h2>
                <a class="btn" href="{% url 'food:place_detail' place.pk %}">View Details</a>
            </div>

        </div>
    {% endfor %}
{% else %}
    <p>No places added yet.</p>
{% endif %}

<a class="btn" href="{% url 'food:place_create' %}">Add New Place</a>

{% endblock %}

